<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{userName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-group *ngFor="let chat of chats$">
<app-chat-box [chat]="chat"  [current_user_id]="currentUserId" ></app-chat-box>

</ion-item-group>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea autoGrow rows="1" placeholder="Send Message" [(ngModel)]="message"
      class="ion-text-start ion-margin-start"></ion-textarea>
    <ion-buttons slot="end">
      <ion-fab-button *ngIf="!isLoading" size="small" color="primary" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" color="primary">
        <ion-spinner name="crescent" color="white"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>